@import "tailwindcss";

body {
    background-color: black;
    color: white;
    /* FORCE content down below the status bar */
    padding-top: 50px !important;
    padding-bottom: 20px;
    /* Handle iPhone/Newer Android notches natively */
    padding-top: max(50px, env(safe-area-inset-top)) !important;
}

.mini-player {
    z-index: 50 !important;
}

.bottom-nav {
    z-index: 40 !important;
}